spring:
  profiles:
    active: dev
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  main:
    allow-circular-references: false
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    generate-ddl: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  output:
    ansi:
      enabled: always
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: trace
#    org.springframework.kafka: DEBUG
#    org.apache.kafka: WARN

spero:
  default-port: 8080
  cors:
    #allowed-origins: "*"
    allowed-origins: ${ALLOWED_ORIGINS}
    allowed-methods: "*"
    allowed-headers: "*"
    allow-credentials: true
#  file:
#    name: ./log/application.log
#  pattern:
#    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"